html, body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

body {
	padding: 0 5%;
	text-align: center;
}

#file-upload {
	width: 45%;
	display: inline-block;
	vertical-align: middle;
}

h1 {
	margin-top: 0;
}

#file-explorer {
	width: 45%;
	display: inline-block;
}

.file-element {
	display: block;
}

.file-label {
	margin: 5px 10px;
}

.file-link {
	background-image: url("./download.svg");
	border-color: transparent;
	background-color: transparent;
	height: 25px;
	width: 25px;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.file-link:hover {
	cursor: pointer;
}