body {
	padding: 5%;
	text-align: center;
}

#file-upload {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}

#file-list {
	width: 45%;
	display: inline-block;
}

.file-element {
	display: block;
}

.file-label {
	margin: 5px;
}

.file-link {

}